@charset "UTF-8";

:root {
    --cor0: #FA9BCC;
    --cor1: #CFF5FA;
    --cor2: #FAEF9B;
    --cor3: #E0DCBE; 
    --cor4: #D28FB1;  
    
   
   --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
   --fonte-destaque: 'Bebas Neue','cursive';
   --fonte-android:'Android', 'cursive';
   }
   
   

* article {
       margin: 10px;
       padding: 10px;
}


Body {
    background-color: var(--cor3);
    padding: 0px;
    margin: 0px;
}



header {
    background-color: var(--cor4);
    text-align: center;
    padding: 30px;
       
}
main {
    background-color: rgb(228, 243, 243);
    padding: 20px;
}

#container1 {
    background-image: url(imagens/borboletagrande.jpg);
    height: 500px;
    position: relative;
}

#content1 {
    background-color: rgba(216, 112, 147, 0.568);
    height: 300px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
    
}

#container2 {
    position: relative;
    background-image: url(imagens/livro-grande.jpg);
    height: 500px;
}

#content2 {
    position: absolute;
    background-color: rgba(216, 112, 147, 0.568);
    height: 300px;
    width: 200px;
    border-radius: 20px;
    
}
footer {

text-align: center;
color: white;
margin: 0;

}